<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.example.fitnesstime">

    <application
        android:allowBackup="true"
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:fullBackupContent="@xml/backup_rules"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.FitnessTime"
        tools:targetApi="31">
        <activity
            android:name=".ui.main.home.Main"
            android:exported="false" />
        <activity
            android:name=".ui.main.progress.Progress"
            android:exported="false" />
        <activity
            android:name=".ui.profile.Profile"
            android:exported="false" />
        <activity
            android:name=".ui.signup.FinishSignUp"
            android:exported="false" />
        <activity
            android:name=".ui.signup.CompleteSignUp3"
            android:exported="false" />
        <activity
            android:name=".ui.signup.CompleteSignUp2"
            android:exported="false" />
        <activity
            android:name=".ui.signup.CompleteSignUp1"
            android:exported="false" />
        <activity
            android:name=".ui.signup.SignUp"
            android:exported="false" />
        <activity
            android:name=".ui.signin.SignIn"
            android:exported="false" />
        <activity
            android:name=".Welcoming"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>